@use '../global/variables' as v;
@use '../global/mixins' as m;

.mascota-container {
    display: grid;
    gap: 16px;
    @include m.mindesktop {
        grid-template-columns: 1fr 2fr;
    }

    .mascota-box {
        background-color: v.$color-700;
        border-radius: 2%;
        padding: 20px 10px;
        color: white;

        &__img-container {
            background-color: white;
            margin-inline: auto;
            width: 60%;
            border-radius: 50%;
            padding-top: 60%;
            position: relative;
            overflow: hidden;
        }

        &__img-logo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
        }

        &__principal-data {
            li {
                display: flex;
                justify-content: space-between;
                gap: 10px;

                label {
                    font-weight: 700;
                }
            }
        }

        &__complement-data {
            background-color: v.$color-100;
            border: 1px solid v.$color-700;
            box-shadow: 5px 6px 3px v.$color-700;
            color: black;
            margin-bottom: 10px;
        }
    }
}
