@use '../global/mixins' as m;
@use '../global/variables' as v;

.sidebar-container {
    z-index: v.$z-index-sidebar;
    width: 300px;
    height: 100vh;
    background: v.$sidebar-color;
    transition: left 0.5s;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.3);
    @include m.mobile {
        position: fixed;
        top: 0;
        left: -300px;

        &-active {
            left: 0;
        }
    }

    &__title {
        display: flex;
        gap: 10px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        background: v.$color-900;
        gap: 15px;
        font-weight: bold;
        border-bottom-right-radius: 12px;
        border-bottom: 4px solid v.$color-600;
        font-size: 20px;
        &__logo {
            color: white;
        }

        &__brand {
            color: white;
        }
    }

    &__hamburguer {
        display: none;
        color: white;
        cursor: pointer;
        @include m.mobile{
            display: block;
        }
    }

    &__list {
        padding-right: 8px;
    }

    &__enlace {
        cursor: pointer;
        padding: 10px 20px;
        display: flex;
        gap: 15px;
        color: #164e63;
        font-weight: 600;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        transition: all 0.3s ease;
        margin-top: 10px;
    }

    &__enlace:hover {
        background: darken(v.$sidebar-color, 15%);
        border-left: 5px solid v.$color-950;
    }
}

