@use 'variables' as v;

@mixin mobile {
    @media screen and (max-width: 768px) {
        @content
    }
}

@mixin minmobile {
    @media (min-width: v.$telefono) {
        @content;
    }
}

@mixin mintablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}
@mixin mindesktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}

// BOTON
@mixin boton($bgColor, $colorTexto) {
    background-color: $bgColor;
    padding: 10px 4px;
    color: $colorTexto;
    font-size: 14px;
    font-weight: 700;
    border: none;
    transition-property: background-color;
    transition-duration: .3s;
    text-align: center;
    width: 100%;
    display: inline-block;

    &:hover {
        background-color: darken( $bgColor, 10% );
        cursor: pointer;
    }
}