.card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    h2 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 25px;
        font-weight: bold;
    }

    label {
        font-weight: bold;
    }

    input[type="text"],
    input[type="email"],
    select {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 4px;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    input[type="date"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 4px;
        border: 1px solid #ccc;
        box-sizing: border-box;
    
        // Añade un estilo para asegurar que la fecha de nacimiento no sea demasiado ancha
        max-width: 100%;
    }

    button[type="submit"] {
        background-color: #e07979;
        color: white;
        padding: 15px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
        font-size: 16px;

        &:hover {
            background-color: darken(#e07979, 10%);
        }
    }
}

