@use '../global/mixins' as m;
@use '../global/variables' as v;

.form {

    &__subtitle {
        text-align: center;
        color: lighten(black, 60%);
        font-size: 13px;
        margin-bottom: 10px;
    }

    &__fieldset {
        border: 1px solid lighten(black, 85%);
        padding: 16px 16px 4px;
        border-radius: 8px;
        margin-bottom: 16px;
    }

    &__legend {
        font-weight: 700;
        font-size: 20px;
    }

    &__group {
        @include m.minmobile {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
        }

        &-3 {
            @include m.mintablet {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 1rem;
            }
        }
    }

    &__input-group {
        margin-bottom: 1rem;
    }

    &__label {
        font-weight: 500;
    }

    &__input {
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid lighten(black, 85%);
        box-sizing: border-box;
        outline: white;
        transition: outline .2s linear, box-shadow .2s linear;
        box-shadow: 0 0 0 0 v.$secondary-color;
        &:focus:not(:is(&-error)) {
            border: 1px solid v.$secondary-color;
            box-shadow: 0 0 5px 0 v.$secondary-color;
        }

        &-error {
            border: 1px solid v.$red-color;

            &:focus {
                border: 1px solid darken(v.$red-color, 10%);
                box-shadow: 0 0 5px 0 v.$red-color;
            }
        }
    }

    &__error {
        color: v.$red-color;
        line-height: 1.5;
        font-size: 14px;
    }

    &__button {
        @include m.boton(v.$brown-color, white);
        width: auto;
        border-radius: 10px;
        padding: 10px 8px;
        margin-bottom: 12px;

        &--red {
            @include m.boton(v.$red-color, white);
            width: auto;
            border-radius: 10px;
            padding: 10px 8px;
            margin-bottom: 12px;
        }
    }

    &__button-submit {
        background-color: v.$primary-color;
        color: lighten(v.$quaternary-color, 25%);
        font-weight: 700;
        padding: 15px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
        font-size: 16px;
        transition: 0.5s background-color;

        &:hover {
            background-color: darken(v.$primary-color, 10%);
        }
    }

    &__relative {
        position: relative;
    }

    &__predictions {
        display: none;
        position: absolute;
        outline: 1px solid rgb(219, 219, 219);
        width: 100%;
    }

    &__prediction {
        background-color: rgb(247, 247, 247);
        padding: 10px;
        color: black;
        cursor: pointer;

        &:hover {
            background-color: v.$color-700;
            color: white;
        }
    }
}
