.card {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    &__title {
        text-align: center;
        margin-bottom: 20px;
        font-size: 35px;
        font-weight: bold;

        &::before {
            
        }

        &::after {

        }
    }

    &__title-secondary {
        text-align: left;
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: bold;
    }

    &__title-tertiary {
        text-align: left;
        margin-bottom: 8px;
        font-size: 17px;
        font-weight: bold;
    }
}
